body
{
    background: url(home/spaceb0i.png) fixed no-repeat center/auto, url(background-image/galaxy.jpg) fixed no-repeat center/cover;
}

@font-face {
    font-family: 'nasalization';
    src: url('fonts/nasalization-rg.eot') format('eot'),
    	 url('fonts/nasalization-rg.otf') format('otf'),
         url('fonts/nasalization-rg.woff') format('woff'),
         url('fonts/nasalization-rg.ttf') format('truetype'),
         url('fonts/nasalization-rg.svg') format('svg');
}

body
{
	font-family: nasalization, sans-serif;
}

h1, h2
{
	text-align: center;
    position: relative;
}

h1
{
    font-size: 5em;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.85em;
    margin-top: 0.01em;
}

a
{
    text-decoration: none;
    color: rgb(255,255,255);
    font-size: 2em;
    text-shadow: 0 5px 10px rgba(0,0,0,1);
}

.link_music
{
    position: fixed;
    top: 20px;
    left: 20px;
    mix-blend-mode: overlay;

}

.link_videos
{
    position: fixed;
    top: 20px;
    right: 20px;
}

.link_contact
{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

table, td, th
{
}

#table 
{
  border-collapse: separate;
  border-spacing: 25px 5px;
  position: fixed;
}

.pic
{
    vertical-align: middle;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%
}