body
{
    background: url(background-image/galaxy.jpg) fixed no-repeat center/cover;
}

@font-face {
    font-family: 'nasalization';
    src: url('fonts/nasalization-rg.eot') format('eot'),
         url('fonts/nasalization-rg.otf') format('otf'),
         url('fonts/nasalization-rg.woff') format('woff'),
         url('fonts/nasalization-rg.ttf') format('truetype'),
         url('fonts/nasalization-rg.svg') format('svg');
}

body
{
  font-family: nasalization, sans-serif;
}

h1, h2
{
    text-align: center;
    position: relative;
    top: 40px;
    font-size: 64px;
}

a
{
    text-decoration: none;
    color: rgb(255,255,255);
    font-size: 2em;
    text-shadow: 0 5px 10px rgba(0,0,0,1);
}

.link_music
{
    position: fixed;
    top: 20px;
    left: 20px;

}

.link_videos
{
    position: fixed;
    top: 20px;
    right: 20px;
}

.link_contact
{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

table, td, th
{
}

#table 
{
  border-collapse: separate;
  border-spacing: 25px 5px;
  position: fixed;
}

.video
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    position: relative;
    padding-top: 56.25%;
}
